/* Configurações gerais */
html {
  font-size: 62.5%; /* 10px */
}

body {
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
}

/* Bloco Header */
.block-header {
	padding-top: 8px;
	height: 110px;

	background-color: #454545;
}

.block-header--fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
}

/* Bloco Header-Menu */
.header-menu {
	margin: 0;
	
	font-size: 1.6rem;

	list-style: none;
}

/* Bloco Nav */
.block-nav{
	margin-top: 110px;
	padding: 40px 0;
	
	background-color: #A0522D;
}

.nav-promocional {
	font-size: 1.6rem; /* 1.6 * 10px */
	text-align: center;
}

@media(min-width: 760px) {
	.nav-promocional {
		padding: 0 5%;
		
		font-size: 2.3rem;
	}
}

/* Bloco Section */
.block-section {
	padding: 20px 0px;
}

.section-produto {
	padding: 10px 0;	
	width: 100%;
	margin-bottom: 10px;
	height: 380px;
	
	text-align: center;
	
	border: 1px solid #454545;
}

@media (min-width: 970px) {
  .section-produto {
	float: left;
	width: 30%;
	margin: 10px;
  }
}

/* Bloco Footer */
.block-footer {
	padding: 20px 0;

	background-color: #454545;

	color: #fff;
	text-align: center;
}

/* Bloco Formularios */
.block-form {
	margin: 110px 0 70px;
	padding: 20px 0
}

/* Elementos Header */
.block-header__logomarca {
	float: left;
	width: 99px; 
	height: 68px;
}

.block-header__descricao {
	width: 98px;
	
	font-size: 21px;
	font-weight: bold;
	text-align: center;
	
	color: #fff;
}

.block-header__menu {
	float: right;
	padding-top: 25px;
}

/* Elementos Header-Menu */
.header-menu__item {
	display: inline-block;
	position:relative;
	padding: 10px;
	width: 90px;
			
	background-color: #00008b;
	color: #fff;
	text-align: center;
	
}

.header-menu__item:hover, .header-menu__item:focus {
	background-color: #A0522D;
}

/* Elementos Nav */
.nav-promocional__titulo {
	margin: 0;
	
	color: #fff;
	
	font-size: 5rem;
	line-height: 1em;
	text-shadow: 2px 2px #454545; 
}

.nav-promocional__button {
	margin-top: 50px;
	margin-bottom: 20px;
	
	font-size: 1em;
}

.nav-promocional__button > a {
	padding: 15px 35px;
	border-radius: 10px;
	
	color: #fff;
	text-decoration: none;
	
	background-color: #222;
}

.nav-promocional__button > a:hover, .nav-promocional__button > a:focus {
	background-color: #444;
}

/* Elementos Section */
.section-product__imagem {
	height: 150px;
}

.section-product__descricao, .section-product__valor {
	margin: 10px 0;
	
	font-size: 2.8rem;
}

.section-product__pagamento {
	margin: 10px 0;
	
	font-size: 2rem;
}

.section-product__button {
	padding: 10px 0;
}

.section-product__button > a {
	padding: 10px 15px;
	
	color: #fff;
	text-decoration: none;
	
	background-color: #00008B;
}

.section-product__button > a:hover {
	background-color: #A0522D;
}

/* Elementos Formularios */
.form__titulo {
	text-align: center;
}

.form__grupo {
	margin: 10px 0;
}

.form__field {
	width: 100%;
	height: 3em;
	padding: 5px;
	display: block;

	border-radius: 10px;
	border: 1px solid #ccc;
	
	font-size: 1.4rem;
	
	background-color: #fff;
}