/* Header */
.block-header {
	padding-top: 8px;
	height: 110px;
	border-bottom: 2px solid #454545;

	background-color: #454545;
}

.block-header--fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
}

/* Header-Menu */
.header-menu {
	margin: 0;
	
	font-size: 1.6rem;

	list-style: none;
}

/* Nav */
.block-nav{
	margin-top: 110px;
	padding: 40px 0;
	
	background-color: #A0522D;
}

.nav-promocional {
	font-size: 1.6rem; /* 1.6 * 10px */
	text-align: center;
}

@media(min-width: 760px) {
	.nav-promocional {
		padding: 0 5%;
		
		font-size: 2.3rem;
	}
}

/* Section */
.block-section {
	padding: 20px 0px;
}

.section-produto {
	padding: 10px 0;	
	width: 100%;
	margin-bottom: 10px;
	height: 380px;
	
	text-align: center;
	
	border: 1px solid #454545;
}

@media (min-width: 970px) {
  .section-produto {
	float: left;
	width: 30%;
	margin: 10px;
  }
}

/* Footer */
.block-footer {
	padding: 20px 0;

	background-color: #454545;

	color: #fff;
	text-align: center;
}
